# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.ntvs*
*.sln.docstates

# .NET
bin/
obj/
TestResults/
*.user
*.suo
*.userprefs
*.vs/
.vs/
data/
.idea/workspace.xml
