<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Bond.CSharp" version="3.0.4" targetFramework="net45" />
  <package id="Bond.Runtime.CSharp" version="3.0.4" targetFramework="net45" />
  <package id="flexo" version="1.0.0.18" targetFramework="net45" />
  <package id="Jil" version="2.8.1" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="Microsoft.Hadoop.Avro" version="1.4.0.0" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.5.10" targetFramework="net45" />
  <package id="NetSerializer" version="2.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.38" targetFramework="net45" />
  <package id="SharpSerializer" version="2.20" targetFramework="net45" />
  <package id="Sigil" version="4.4.0" targetFramework="net45" />
</packages>